
  <div class="bw">
    <div class="fu">
      <div class="ge aom">
        <nav class="aot">
          <div class="aon">
            <button class="amy amz aoo" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
              <span class="ct">Toggle nav</span>
            </button>
            <a class="aop cn" href="index.html">
              <h3> Swift Detector</h3>
            </a>
          </div>

          <div class="collapse and" id="nav-toggleable-sm">
            <ul class="nav of nav-stacked">
              <li class="tq">Dashboards</li>
              <li >
                <a href="/home">Overview</a>
              </li>
              <li class="active">
                <a href="#create_trigger" data-toggle="modal">Create New Trigger</a>
              </li>

              <br/>

              <li >
                <a href="TrafficLogs">Traffic Logs</a>
              </li>

            </ul>
            <hr class="rw aky">
          </div>
          <br/><br/>
        <div class="by">
          <h4 class="ty">
            Online Users
          </h4>
          
            <a class="ph" >
              <span class="tz" style="width: 62.4%;"></span>
              Bots
            </a>
             <a class="ph" >
              <span class="tz" style="width: 62.4%;"></span>
              Guest
            </a>
            <a class="ph" >
              <span class="tz" style="width: 62.4%;"></span>
              Members
            </a>
            </div>

        </nav>
      </div>
      <div class="hc aps">
        <div class="apa">
  <div class="ob ape">
    <div >
      <h2 >Dashboard Overview</h2>
    </div>
  </div>
  
</div>

<!--
<div class="ob ape">
    <div class="tn aol">
      <input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">
      <span class="bv wt"></span>
    </div>
  </div>
-->

<!-- Ip Coming Stats -->        
<div class="anv aky ala">
      <h3 class="anw anx">Quick IP Stats</h3>
    </div>

    <div class="fu apt alg ala ta te">
      <div class="gp ge apu ala">
        <h3 class="ani dj">
          12,938
          <small class="ank anl">5%</small>
        </h3>
        <span class="anj">Bots IP</span>
      </div>
      <div class="gp ge apu ala">
        <h3 class="ani dm">
          758
          <small class="ank anm">1.3%</small>
        </h3>
        <span class="anj">Bots User Agent</span>
      </div>
      <div class="gp ge apu ala">
        <h3 class="ani dj">
          1,293
          <small class="ank anl">6.75%</small>
        </h3>
        <span class="anj">Refrer</span>
      </div>
      <div class="gp ge apu ala">
        <h3 class="ani dm">
          758
          <small class="ank anm">1.3%</small>
        </h3>
        <span class="anj">Normal User</span>
      </div>
    </div>
<!--End  Ip Coming Stats --> 
        <div class="anv aky ala">
      <h3 class="anw anx">active Triggers</h3>
    </div>

        <div class="ud">
  <div class="eg">
    <table class="cl" data-sort="table">
      <thead>
        <tr>
          <th class="header">User Type</th>
          <th class="header">Action Type</th>
          <th class="header">Action Value</th>
          <th class="header">Created</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td> Bot</td>
          <td>POST</td>
          <td>
            name=meraj<br/>
            password=abc123<br/>
            key=api.1234tfy
         </td>
          <td>01/01/2015</td>
          <td><a href="/home/?action=deleteTrigger&trigger_id=1">Close</a></td>
        </tr>

        <tr>
          <td> Users</td>
          <td>Redirect to</td>
          <td>
            www.cloudstuffs.xyz
         </td>
          <td>01/01/2015</td>
          <td><a href="/home/?action=deleteTrigger&trigger_id=1">Close</a></td>
        </tr>


        </tbody>
    </table>
  </div>
</div>


      </div>
    </div>
  </div>

{include layouts/navigation/modal.html}