<optgroup>Trigger Type</optgroup>
<option>Everyone Else</option>
<option>Location</option>
<option>Landing Page</option>
<option>POST Values</option>
<option>Delay</option>
<option>Time of Visit</option>
<option>Bots</option>
<option>Whois</option>
<option>User-Agent</option>
<option>Browser</option>
<option>Operating System</option>
<option>Mobile Device</option>
<option>Referrer</option>
<option>Incoming Search Term</option>
<option>IP Range</option>
<option>Active Login</option>
<option>Javascript Enabled</option>
<option>Repeat Visitor</option>
<option>Custom Javascript</option>
<option>Custom PHP</option>